extends _layout

block content
  .ibm-columns.test-card-container
    .ibm-card.test-card
      .ibm-card__image
        img(src='/img/icons/shop.svg')
      .ibm-card__content
          h3.ibm-h3 #{ __('Insurances') }
          p #{ __('Insurances Description') }
          p.ibm-ind-link
            a.ibm-forward-link(href='/shop/insurances') #{ __('Go To The Insurance Shop') }
    .ibm-card.test-card
        .ibm-card__image
          img(src='/img/icons/phone shop.svg')
        .ibm-card__content
            h3.ibm-h3 #{ __('Smart Phones') }
            p #{ __('Smart Phones Description') }
            p.ibm-ind-link
              a.ibm-forward-link(href='/shop/smart-phones') #{ __('Go To The Smart Phone Shop') }
    .ibm-card.test-card
        .ibm-card__image
          img(src='/img/icons/ski shop.svg')
        .ibm-card__content
            h3.ibm-h3 #{ __('Skis') }
            p #{ __('Skis Description') }
            p.ibm-ind-link
              a.ibm-forward-link(href='/shop/skis') #{ __('Go To The Ski Shop') }
